body {
    font-family: "proximanova", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
  }
  
  .faq-overskrift { 
    padding-left: 300px;
    color: #004E58;
   }
  
   .faq-spørgsmål {
    font-size: 16px;
    color:  #004E58;
   }
  
  .faq-container {
    max-width: 600px;
    background-color: #E4F1F0;
    padding: 20px;
  }
  
  .faq-liste {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .faq-element {
    background-color: #E4F1F0;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .faq-element:hover {
    background-color: #CCE7E7;
  }
  
  .faq-svar {
    margin-top: 10px;
    font-size: 14px;
    color: #004E58;
    display: none; 
    padding-left: 10px;
    line-height: 1.6;
  }
  
  .faq-element.aktiv .faq-svar {
    display: block; 
  }
  